
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<section>
    <div class="navbar">
        <div class="homebg"><div class="homePage">Home</div></div>
        <div class="navDiv">
            <div class="login"><a href="login.html">Login</a></div>
            <div class="signUp"><a href="./signUp.html">Sign up</a></div>
        </div>

    </div>
</section>

<section id="love-section">
    <div class="image"><img src="" alt=""></div>
</section>
<section>
    <div class="footer">
        <div class="copy"><img src="Images/Copyright-Symbol.jpeg" class="image1">copyright 2022</div>
        <div class="write-up">Squad10 team project 2022</div>
    </div>
</section>


</body>
</html>
